@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

body {
	font-family: "Opens Sans", Helvetica, Verdana, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 100;
	background: #fff;
	color: #393939;
}

h1, h2 {
	font-family: "Amatic SC", cursive;
	margin:0;
	padding:0;
	font-weight: normal;
}

h1, a {
	color: #d03d4a;
}
a {
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: all ease .2s;
}
a:hover:not(.nohover) {
	border-bottom: 1px solid #d03d4a;
}

h3 {
	color: #159957;
	font-size: 1.6em;
	font-weight: normal;
}

p {
	font-size: 1.5em;
	font-weight: 300;
	color: #5f5f5f;
	line-height: 1.6em;
}

.nav {
	padding-bottom: .2em;
	font-size: 1.5em;
}

h1 {
	transform: rotate(-90deg);
	font-size: 8.6em;
	text-align: center;
	margin-right: .23em;
}


@media (min-width: 650px) {
	body {
		font-size: 10px;
	}
	h1 {
		margin-top: .44em;
		margin-bottom: .3em;
	}
	.nav a {
		margin-left: 1.8em;
	}
	.nav {
		text-align: right;
	}
	.content {
		width: 650px;
		margin: 0 auto;
		margin-top: 5em;
	}
	.left {
		float: left;
		width: 25%;
		text-align: center;
	}
	.right {
		float: right;
		width: 65%;
	}
}

@media (max-width: 649px) {
	body {
		font-size: 8px;
	}
	h1 {
		margin-bottom: .3em;
		margin-top: .5em;
	}
	.nav {
		text-align: center;
	}
	.nav a {
		margin: 0 1.8em 0 1.8em;
	}
	.content {
		width: 100%;
		padding: 1em;
		box-sizing: border-box;
	}
}

.profile-pic {
	background: url(https://graph.facebook.com/659828729/picture?width=480&height=480) no-repeat;
	background-size: cover;
	border-radius: 20em;
	height: 5em;
	width: 5em;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 5em;

}

.cocktail {
	background: url(../images/cocktail.png) no-repeat top center;
	background-size: contain;
	height: 34.4em;
	width: 13em;
	margin: 0 auto;
	border-left: 1.7em solid transparent;
}

pre {
	font-family: Consolas, 'Courier New', monospace;
	font-size: 1.2em;
	line-height: 1.6em;
	padding: 0;
	margin: 0;
}
.hljs {
	padding: 0;
	margin: 0;
}

footer {
	padding-top: 10em;
	clear: both;
	font-size: 1.2em;
	text-align: center;
	padding-bottom: 2em;
}

.code-title {
	font-weight: bold;
	font-size: 1.3em;
	color: #1e6bb8;
	margin-bottom: .6em;
}
