html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
	font-size: 10px;
	font-family: Georgia, Times, "Times New Roman", serif;
	margin: 15px;
}

nav {
	font-size: 1.8em;
}

h1 {
	font-size: 4em;
	color: #333;
}

h2 {
	font-size: 2.5em;
	color: #555;
	margin-bottom: .5em;
	margin-top: 1.1em;
}


header {
	margin-bottom: 2em;
}

.wrapper {
	width: 450px;
	margin: 0 auto;
}

p {
	color: #888;
	font-size: 1.8em;
	line-height: 1.8em;
}

a {
	color: #46c780;
}
section {
	margin-top: 2em;
}
li {
	font-size: 1.8em;
	line-height: 1.8em;
}
li:before {
	content: "\2665 \00a0 \00a0 ";
}
footer {
	font-size: 1.4em;
	margin-top: 4em;
	color: #aaa;
}